* {
  margin: 0;
  padding: 0;
}

.user-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  border: 3px solid red;
}

.user-view > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: lightgrey;
  width: 300px;
  padding: 20px 20px;
  border: 2px solid black;
  border-radius: 5px;
}

li > .user-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

li > button {
  width: 100px;
}
